<!--Histórico da gestão-->
<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../partials/head', { title: 'Histórico' }) %>
<%- include('../../partials/headerGestao') %>


<body>
  <div class="container h-100">

    <div class="card shadow m-5 p-5 d-flex flex-column align-items-center justify-content-center" style="width: 90%">
      <h2 class="font-italic font-weight-bold">Histórico</h2>
      <div class="w-100 d-flex justify-content-between">
        <select class="form-select form-select-sm w-25" style="color: black;">
          <option selected>Ordenar por</option>
          <option value="1">Mais Antigo</option>
          <option value="2">Mais Recente</option>
        </select>
        <select class="form-select form-select-sm w-25" style="color: black;">
          <option selected>Filtrar por</option>
          <option value="1">Saída</option>
          <option value="2">Falta</option>
          <option value="3">Data</option>
          <option value="4">Justificativa</option>
        </select>
      </div>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Aluno</th>
            <th scope="col">Tipo</th>
            <th scope="col">Justificativa</th>
            <th scope="col">Modalidade</th>
            <th scope="col">Data</th>
            <th scope="col">Verificar</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Eduardo Irineu</td>
            <td>Saída Antecipada</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>Técnico</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Laura Marinho</td>
            <td>Falta</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>CAI</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Mariana Marcondes</td>
            <td>Falta</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>FIC</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Sabrina Vilela</td>
            <td>Saída Antecipada</td>
            <td class="font-italic">Vazio</td>
            <td>Técnico</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>João Pedro</td>
            <td>Falta</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>CAI</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Milena Oliveira</td>
            <td>Saída Antecipada</td>
            <td class="font-italic">Vazio</td>
            <td>FIC</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>João Aparecido</td>
            <td>Falta</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>Técnico</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Isadora Oliveira</td>
            <td>Falta</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>CAI</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Mariana Marcondes</td>
            <td>Saída Antecipada</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>FIC</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>

          <tr>
            <td>Eduardo Irineu</td>
            <td>Falta</td>
            <td><button class="btn btn-blue btn-sm"><i class="fa fa-download"></i> Baixar</button></td>
            <td>Técnico</td>
            <td>02/08/2024</td>
            <td><a href="#" class="btn btn-blue btn-sm" role="button" aria-pressed="true">Detalhes</a></td>
          </tr>
        </tbody>
      </table>
      <div class="texto d-flex w-100">
        <h4>Total de Saídas:</h4>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  <%- include('../../partials/footer') %>
</body>

</html>