<!--Requisição de Saída do Aluno-->
<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../partials/head', { title: 'Requisição de Saída' }) %>
<%- include('../../partials/headerAluno', { activePage: '' }) %>

    <body class="background" style="background-image: url(../images/frente_senai.png);">

      <div class="container">
        <div class="card w-75 shadow" style="padding: 40px;">
          <a href="/homeAluno" class="text-dark">
            <h3><i class="bi bi-arrow-left"></i></h3>
          </a>
          <h2 style="font-family: Inter; text-align: center; margin-bottom: 20px;">Requisição de Saída Antecipada</h2>
          <p style="font-family: Inter; text-align: center; margin: 30px;">Preencha o formulário de acordo com as
            instruções
            a seguir. </p>
          <form class='saida-form' action='/requisicao' method="post">
            <input type="hidden" name="formType" value="requisicao">
            <input type="hidden" name="cod_turma" value="<%= cod_turma %>">
            <div class="form-group">
              <label for="data">Data e Hora da Saída</label>
              <div class="d-flex justify-content-between">
                <input type="date" id="data" name="data_saida" class="form-control" style="width: 48%;">
                <input type="time" id="hora" name="hora_saida" class="form-control" style="width: 48%;">
              </div>
            </div>
            <div class="form-group">
              <label for="justificativa">Justificativa</label>
              <textarea id="justificativa" name="justificativa" class="form-control"
                placeholder="Justifique a saída antecipada aqui..."></textarea>
            </div>
            <div class="d-flex justify-content-between">
              <button type="reset" class="btn btn-gray btn-lg">Limpar</button>
              <button type="submit" class="btn btn-red btn-lg">Enviar</button>
            </div>
          </form>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <%- include('../../partials/footer') %>
    </body>

</html>