<footer class="rodape">
  <div class="text-center p-3">

    <div class="texto-rodape">
      <div class="margem-rodape">
        <p>SENAI "Luis Eulalio de Bueno Vidigal Filho”</p>
        <p>R. Inácio García, 321 - Cidade </p>
        <p>Edson, Suzano - SP, 08665-120</p>
      </div>
      <div>
        <p>ATENDIMENTO VIA SECRETARIA</p>
        <p>(11) 4741-3500 (Telefone)</p>
      </div>
    </div>

    <div>
      © 2024 - Todos os direitos reservados. TDS-TURMA 2
    </div>

  </div>
</footer>