/*Geral*/
body {
    background-color: #e0e0e0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Inter;
}

.background {
    background-size: 100%;
}

html,
body {
    height: 100%;
    justify-content: center;
}

.btn-red {
    background-color: #BD0003;
    color: white;
    border-color: white;
}

.btn-red:hover {
    background-color: white;
    color: #BD0003;
    border-color: #BD0003;
}

.btn-blue {
    background-color: #2F2C79;
    color: white;
    border-color: white;
}

.btn-blue:hover {
    background-color: white;
    color: #2F2C79;
    border-color: #2F2C79;
}

.btn-gray {
    background-color: #B4B4B4;
    color: white;
    border-color: white;
}

.btn-gray:hover {
    background-color: white;
    color: #B4B4B4;
    border-color: #B4B4B4;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 83.1vh;
}

/*Rodapé*/

.rodape {
    background-color: #BD0003; /* Fundo escuro para o footer */
    color: white; /* Texto branco */
    padding: 10px 0; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
}

.texto-rodape {
    margin: 2px 0; /* Pequeno espaçamento entre as linhas de texto */
  font-size: 14px;
}

/*Login*/

.btn-lg {
    margin-top: 5%;
}

.title {
    font-size: 54px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 40px;
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.inputLogin {
    display: inline;
    justify-content: left;
    align-items: end;
    width: 375px;
}

.login-background {
    background-image: url(../images/Login.png);
}

/*Navbar*/

.navbar,
.container-red {
    border: none !important;
    border-width: 0 !important;
    background-color: #BD0003 !important;
}

.navbar-brand,
.nav-link {
    color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: white;
}

.navbar-brand {
    font-weight: 700;
    font-style: italic;
}

.active {
    font-weight: bold;
}

/*Perfil Aluno*/

.campo {
    display: block;
    margin: 1%;
}

.info {
    display: block;
    width: 85%;
}

.profilePicture {
    width: 227px;
    height: 227px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.informacao-aluno {
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 0px 3px 5px grey;
}

.form-select {
    background-image: none;
    width: 20%;
    height: 30px;
    color: white;
}

.nome {
    margin-bottom: 10px;
}

.dividir {
    padding-top: 30px;
    display: flex;
}

.botoes {
    display: flex;
    justify-content: space-between;
    display: flex;
}

/*Home do Aluno*/

.bem-vindo {
    font-style: italic;
    font-size: 32px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.requisicao {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
}

.requisicao:hover {
    transform: scale(1.05);
    text-decoration: none;
}

/* Container de cards */
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    width: 100%;
    max-width: 450px; /* Máximo de largura para centralizar no desktop */
}


.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.card-saida {
    margin-bottom: 1%;
}

.requisicao {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.2s;
    margin-bottom: 15px;
}

.requisicao:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.grafico-saida {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

/*Home da Gestão*/

.grafico-periodo {
    width: 600px;
    height: 300px;
    border-radius: 10px;
}

.grafico-pendencia {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.grafico-trio {
    width: 475px;
    height: 265px;
    border-radius: 10px;
}

/* Curso */

.curso {
    display: inline;
}

.centralizarresponsivo{
    display: flex;
    justify-content: space-between;
}

/* Responsividade para celulares (máximo de 425px) */
@media (min-width: 320px) and (max-width: 425px) {
    .login-container {
        width: 100%;
        max-width: 320px;
        margin: auto;
        align-items: center;
    }

    .senai{
        margin-left: 2%;
      }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
    }

    .rodape {
        font-size: 10px;
    }

    .container-fluid, .navbar {
        background-color: #BD0003 !important;
    }

    .requisicao, .inputLogin, .profilePicture {
        width: 100%;
        max-width: 300px;
    }

    .grafico-saida, .grafico-periodo, .grafico-pendencia, .grafico-trio {
        width: 100%;
        height: auto;
        max-width: 320px;
    }

    .login-background {
        background-image: url(../images/loginResponsivo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto; 
    }


    .requisicao, .grafico-saida {
        width: 100%;
        max-width: 320px;
    }

    .botoes{
        display: flex;
        position: relative;
        justify-content: center;
        
    }

    .primeiro-acesso{
        width: 100% !important;
        height: 100% !important;
        padding: 5% !important;
        margin: 5% !important;
    }

    .responsivohome{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .centralizarresponsivo {
        justify-content: center;
    }

    .table {
        height: 20%;
    }
}

/* Responsividade para celulares (mínimo 426 máximo de 768) */
@media (min-width: 426px) and (max-width: 768px) {
    .title {
        font-size: 32px;
    }

    .centralizarresponsivo {
        justify-content: center;
    }

    .subtitle {
        font-size: 24px;
    }

    .inputLogin {
        width: 100%;
        max-width: 300px;
    }

    .container {
        padding: 10px;
    }

    .grafico-saida, .grafico-periodo, .grafico-pendencia, .grafico-trio {
        width: 100%;
        height: auto;
        max-width: 450px;
    }

    .login-background {
        background-image: url(../images/Login.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto; 

    }

    .botoes{
        display: flex;
        position: relative;
        justify-content: center;
        
    }

    .icons ul {
        flex-direction: row; /* Coloca os ícones em uma coluna */
        justify-content: space-evenly;
      }
      .icons li {
        margin: 10px 0; /* Espaçamento vertical */
      }

      .social-links li {
        margin: 0 10px;
      }

      .senai{
        margin-left: 2%;
      }

}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-links li {
    display: inline-block;
    margin: 0 15px;
  }

  .social-links a {
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  .social-links a:hover {
    color: #25D366; /* Cor para WhatsApp */
  }

  .social-links a[title="Instagram"]:hover {
    color: #E1306C; /* Cor para Instagram */
  }

  .social-links a[title="Facebook"]:hover {
    color: #007BFF; /* Cor para telefone */
  }

  .icons ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding */
    margin: 05px 0; /* Espaçamento vertical */
    display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Alinha os itens ao centro */
  }

  .icons a {
    color: white; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
    text-decoration: none; /* Remove o sublinhado dos links */
  }

  .p-1 {
    font-size: 12px;
    margin-top: 10px;
  }
